@media screen and (max-width: 580px) {
  .container {
    margin: 0 auto;
  }
  .donate {
    padding: 130px 0;
  }

  .donateInner {
    flex-direction: column;
    width: 100%;
  }

  .productsInnerListItemDon {
    height: 100px;
    width: 90%;
    margin: 0 auto 30px;
  }

  .donateInnerForm {
    width: 90%;
    margin: 0 auto;
  }

  .donateInnerFormLabel {
    width: 100%;
  }

  .donateInnerInpId,
  .donateInnerInpServ {
    width: 350px;
  }

  .donateInnerInpServ {
    margin-bottom: 30px;
  }

  .productsInnerSubGroups {
    flex-direction: column;
    overflow-y: unset;
    height: auto;
  }

  .productsInnerSubGroupsInfo {
    display: none;
  }

 
}

@media screen and (max-width: 540px) {
}

@media screen and (max-width: 430px) {
}
@media screen and (max-width: 414px) {
}

@media screen and (max-width: 412px) {
}

@media screen and (max-width: 390px) {
}

@media screen and (max-width: 380px) and (max-height: 740px) {
}

@media screen and (max-width: 375px) {
  .donateInnerInpId,
  .donateInnerInpServ {
    width: 300px;
  }
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 346px) {
}

@media screen and (max-width: 344px) {
}
